h1.page-title {
  position: relative;
  overflow: hidden;
  font-size: 1.75rem;
  line-height: 2.375rem;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    border: 1px solid #000000;
    margin-left: 10px;
  }
}
