.card {
  //width: 100%;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 11px rgba(205, 209, 252, 0.2);
  border-radius: 32px;
  padding: 24px;
  margin-bottom: 32px;
  position: relative;
  z-index: 5;

  &.hero {
    padding: 24px;
    text-align: center;
    position: relative;
    z-index: 5;

    @media all and (min-width: 768px) {
      padding: 175px 0;
    }
    h1 {
      font-size: 2rem;
      line-height: 2rem;
      @media all and (min-width: 768px) {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
    p {
      color: #605d79;
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 800px;
      margin: 0 auto 24px;

      @media all and (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 2.063rem;
      }
    }
  }
}
