.accent-bar {
  width: 100%;
  position: relative;
  text-align: center;
  //flex: 1;
  margin: 50px 0;

  @media all and (min-width: 768px) {
    position: absolute;
    bottom: 5px;
    margin: 24px 0;
  }
  .line {
    position: absolute;
    width: 100%;
    top: 50%;
    border: 1px solid #000000;
  }
  .content {
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-size: 0.75rem;

    @media all and (max-width: 500px) {
      max-width: 80%;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 0 0 24px;
      li {
        display: inline-block;
        padding-right: 24px;
      }
    }
  }
}
